/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  font-family: Roboto, Arial, sans-serif;
}
html {
  font-size: 62.5%;
}
html,
body {
  Background: #FFFFFF;
  Color: #222222;
}
h3 {
  font-weight: Bold;
  font-size: 2.4rem;
  Color: #222222;
}
h5 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 24px;
  Color: #FFFFFF;
}
p {
  font-size: 1.6rem;
  line-height: 1.5;
}
.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}
.header {
  margin-bottom: 47px;
}
@media only screen and (max-width: 338px) {
  .header {
    margin-bottom: 34px;
  }
}
.header nav {
  background: #98a4af;
}
.header nav .menuContainer {
  display: flex;
  justify-content: space-between;
  height: 50px;
  border: solid 1px black;
  padding-left: 8%;
  padding-right: 8%;
  align-items: center;
}
@media only screen and (max-width: 338px) {
  .header nav .menuContainer {
    padding-left: 5%;
    padding-right: 5%;
  }
}
.header nav .menuContainer h1 {
  font-weight: Bold;
  font-size: 24px;
  Color: #FFFFFF;
}
.header .headerContent {
  position: relative;
}
.header .headerContent .mainHeader-img {
  height: 550px;
  width: 100%;
}
@media only screen and (max-width: 500px) {
  .header .headerContent .mainHeader-img {
    height: 350px;
  }
}
@media only screen and (max-width: 338px) {
  .header .headerContent .mainHeader-img {
    height: 210px;
  }
}
.header .headerContent .servicesHeader-img {
  height: 200px;
  width: 100%;
}
@media only screen and (max-width: 500px) {
  .header .headerContent .servicesHeader-img {
    height: 350px;
  }
}
@media only screen and (max-width: 338px) {
  .header .headerContent .servicesHeader-img {
    height: 210px;
  }
}
.header .headerContent .h2Container {
  position: absolute;
  top: 275px;
  left: 80px;
  font-weight: Bold;
  font-size: 6.4rem;
  line-height: 75px;
  Color: #FFFFFF;
}
@media only screen and (max-width: 338px) {
  .header .headerContent .h2Container #integrity {
    height: 40px;
  }
}
@media only screen and (max-width: 338px) {
  .header .headerContent .h2Container #excellence {
    height: 40px;
  }
}
@media only screen and (max-width: 338px) {
  .header .headerContent .h2Container #progress {
    height: 40px;
  }
}
@media only screen and (max-width: 500px) {
  .header .headerContent .h2Container {
    top: 45px;
    left: 30px;
  }
}
@media only screen and (max-width: 338px) {
  .header .headerContent .h2Container {
    top: 55px;
    left: 5%;
    font-size: 3.6rem;
  }
}
.header .headerContent .servicesContainer {
  position: absolute;
  top: 107px;
  left: 85px;
  font-weight: Bold;
  font-size: 6.4rem;
  line-height: 75px;
  Color: #FFFFFF;
}
@media only screen and (max-width: 338px) {
  .header .headerContent .servicesContainer #Services {
    height: 40px;
  }
}
.container footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 250px;
  Background: #828282;
}
@media only screen and (max-width: 500px) {
  .container footer {
    height: 660px;
    padding-top: 35px;
    padding-left: 8%;
    padding-right: 8%;
  }
}
@media only screen and (max-width: 338px) {
  .container footer {
    align-items: flex-start;
    height: 707px;
    padding-top: 25px;
    padding-left: 5%;
    padding-right: 5%;
  }
}
.container footer .footerContent {
  display: flex;
  justify-content: space-evenly;
  height: 200px;
  width: 100%;
  padding-top: 63px;
}
@media only screen and (max-width: 500px) {
  .container footer .footerContent {
    flex-direction: column;
    padding-top: 150px;
  }
}
@media only screen and (max-width: 338px) {
  .container footer .footerContent {
    padding-top: 170px;
  }
}
.container footer .footerContent .footerEmail {
  height: 130px;
}
@media only screen and (max-width: 338px) {
  .container footer .footerContent .footerEmail {
    height: 120px;
  }
}
.container footer .footerContent .footerEmail #email {
  margin-top: 14px;
  margin-bottom: 3px;
  height: 42px;
  width: 99%;
  font-size: 1.6rem;
  border-radius: 5px;
}
@media only screen and (max-width: 500px) {
  .container footer .footerContent .footerEmail #email {
    margin-top: 18px;
  }
}
@media only screen and (max-width: 338px) {
  .container footer .footerContent .footerEmail #email {
    height: 49px;
    width: 98.6%;
    margin-top: 16px;
  }
}
.container footer .footerContent .footerEmail #informationConfidentialityClause {
  font-size: 1.3rem;
}
@media only screen and (max-width: 500px) {
  .container footer .footerContent .footerEmail #informationConfidentialityClause {
    margin-top: 10px;
  }
}
.container footer .footerContent p {
  Color: #FFFFFF;
}
.container footer .footerContent .addressContainer {
  display: flex;
  width: 50%;
  justify-content: space-around;
}
@media only screen and (max-width: 500px) {
  .container footer .footerContent .addressContainer {
    display: flex;
    flex-direction: column;
    margin-top: 22px;
    padding-top: 200px;
    height: 400px;
  }
}
.container footer .footerContent .addressContainer .footerNewYork {
  height: 120px;
}
@media only screen and (max-width: 500px) {
  .container footer .footerContent .addressContainer .footerNewYork {
    margin-bottom: 10px;
  }
}
.container footer .footerContent .addressContainer .footerNewYork h5 {
  margin-bottom: 5px;
}
.container footer .footerContent .addressContainer .footerNewYork p {
  margin-bottom: 5px;
}
.container footer .footerContent .addressContainer .footerFlorida {
  height: 120px;
}
@media only screen and (max-width: 500px) {
  .container footer .footerContent .addressContainer .footerFlorida {
    margin-bottom: 10px;
    padding-top: 20px;
  }
}
.container footer .footerContent .addressContainer .footerFlorida h5 {
  margin-bottom: 5px;
}
.container footer .footerContent .addressContainer .footerFlorida p {
  margin-bottom: 5px;
}
.container footer .footerContent .addressContainer .footerCalifornia {
  height: 120px;
}
@media only screen and (max-width: 500px) {
  .container footer .footerContent .addressContainer .footerCalifornia {
    margin-bottom: 10px;
    padding-top: 40px;
  }
}
.container footer .footerContent .addressContainer .footerCalifornia h5 {
  margin-bottom: 5px;
}
.container footer .footerContent .addressContainer .footerCalifornia p {
  margin-bottom: 5px;
}
.container footer .copyright {
  Color: #FFFFFF;
  padding-top: 30px;
  font-size: 1.2rem;
}
@media only screen and (max-width: 500px) {
  .container footer .copyright {
    padding-top: 410px;
  }
}
@media only screen and (max-width: 338px) {
  .container footer .copyright {
    padding-top: 443px;
  }
}
.container {
  font-family: Roboto, Arial, sans-serif;
}
.container .architectContainer {
  display: flex;
  padding-left: 8.3%;
  padding-right: 8.3%;
}
@media only screen and (max-width: 500px) {
  .container .architectContainer {
    flex-direction: column-reverse;
    width: 100%;
    height: 600px;
    padding-left: 5.3%;
    padding-right: 5.3%;
  }
}
@media only screen and (max-width: 338px) {
  .container .architectContainer {
    height: 585px;
    padding-left: 5.3%;
    padding-right: 5.3%;
  }
}
.container .architectContainer .architects {
  display: flex;
  flex-direction: column;
  height: 375px;
  width: 50%;
}
@media only screen and (max-width: 500px) {
  .container .architectContainer .architects {
    align-items: center;
    width: 100%;
  }
}
.container .architectContainer .architects h3 {
  padding-top: 48px;
  margin-bottom: 22px;
}
@media only screen and (max-width: 500px) {
  .container .architectContainer .architects h3 {
    font-size: 3.4rem;
  }
}
@media only screen and (max-width: 338px) {
  .container .architectContainer .architects h3 {
    width: 100%;
    font-size: 2.5rem;
    padding-top: 28px;
  }
}
.container .architectContainer .architects p {
  margin-bottom: 28px;
}
@media only screen and (max-width: 338px) {
  .container .architectContainer .architects p {
    margin-bottom: 23px;
  }
}
.container .architectContainer .architects .btn {
  border: solid 1px black;
  height: 46px;
  width: 137px;
  text-align: center;
  padding: 13px;
  font-size: 1.6rem;
  border-radius: 5px;
}
@media only screen and (max-width: 500px) {
  .container .architectContainer .architects .btn {
    width: 100%;
  }
}
.container .architectContainer .home1Img {
  height: 280px;
  width: 50%;
  padding-left: 18px;
}
@media only screen and (max-width: 500px) {
  .container .architectContainer .home1Img {
    width: 100%;
    padding-left: 0px;
  }
}
.container .designContainer {
  flex-direction: row-reverse;
  display: flex;
  padding-left: 8.3%;
  padding-right: 8.3%;
}
@media only screen and (max-width: 500px) {
  .container .designContainer {
    flex-direction: column-reverse;
    width: 100%;
    height: 600px;
  }
}
@media only screen and (max-width: 338px) {
  .container .designContainer {
    height: 585px;
    padding-left: 5.3%;
    padding-right: 5.3%;
  }
}
.container .designContainer .designs {
  display: flex;
  flex-direction: column;
  height: 375px;
  width: 50%;
  padding-left: 6px;
}
@media only screen and (max-width: 500px) {
  .container .designContainer .designs {
    width: 100%;
  }
}
@media only screen and (max-width: 338px) {
  .container .designContainer .designs {
    padding-left: 0px;
  }
}
.container .designContainer .designs h3 {
  padding-top: 40px;
  margin-bottom: 22px;
}
@media only screen and (max-width: 500px) {
  .container .designContainer .designs h3 {
    font-size: 3.4rem;
  }
}
@media only screen and (max-width: 338px) {
  .container .designContainer .designs h3 {
    width: 100%;
    font-size: 2.5rem;
    padding-top: 28px;
  }
}
.container .designContainer .designs p {
  margin-bottom: 30px;
}
@media only screen and (max-width: 338px) {
  .container .designContainer .designs p {
    margin-bottom: 25px;
  }
}
.container .designContainer .designs .btn {
  border: solid 1px black;
  height: 46px;
  width: 137px;
  text-align: center;
  padding: 13px;
  font-size: 1.6rem;
  border-radius: 5px;
}
@media only screen and (max-width: 500px) {
  .container .designContainer .designs .btn {
    width: 100%;
  }
}
.container .home2Img {
  height: 275px;
  width: 51.6%;
  padding-right: 21px;
}
@media only screen and (max-width: 500px) {
  .container .home2Img {
    width: 100%;
    padding-right: 0px;
  }
}
.projectContainer {
  position: relative;
  padding-left: 8.3%;
  margin-bottom: 91px;
}
@media only screen and (max-width: 500px) {
  .projectContainer {
    margin-bottom: 120px;
  }
}
@media only screen and (max-width: 338px) {
  .projectContainer {
    padding-left: 0px;
    margin-bottom: 77px;
  }
}
.projectContainer h3 {
  margin-bottom: 45px;
}
@media only screen and (max-width: 500px) {
  .projectContainer h3 {
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 338px) {
  .projectContainer h3 {
    margin-bottom: 25px;
    padding-top: 6px;
    padding-left: 5%;
  }
}
.projectContainer .projects .villasImg {
  height: 230px;
  width: 91%;
}
@media only screen and (max-width: 338px) {
  .projectContainer .projects .villasImg {
    width: 100%;
  }
}
.projectContainer .projects h4 {
  position: absolute;
  height: 96px;
  width: 30.8%;
  left: 60.8%;
  top: 243px;
  text-align: center;
  padding-top: 35px;
  padding-left: 10px;
  background: #D8D8D8;
  font-size: 2.5rem;
  font-family: sans-serif;
  letter-spacing: 7px;
}
@media only screen and (max-width: 500px) {
  .projectContainer .projects h4 {
    height: 10.7vh;
    width: 80%;
    left: 10%;
    top: 260px;
    padding-top: 30px;
    font-size: 3.5rem;
  }
}
@media only screen and (max-width: 338px) {
  .projectContainer .projects h4 {
    height: 97px;
    width: 90%;
    left: 5%;
    top: 242px;
    padding-top: 36px;
    font-size: 2.5rem;
  }
}
.projectContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
  width: 50%;
  margin: 0 auto;
}
@media only screen and (max-width: 500px) {
  .projectContent {
    width: 90%;
  }
}
.projectContent #projectContent1 {
  width: 85%;
  font-size: 1.8rem;
  line-height: 1.34;
  margin-bottom: 11px;
}
@media only screen and (max-width: 338px) {
  .projectContent #projectContent1 {
    width: 100%;
  }
}
.projectContent #projectContent2 {
  width: 85%;
  font-size: 1.8rem;
  line-height: 1.34;
}
@media only screen and (max-width: 338px) {
  .projectContent #projectContent2 {
    width: 100%;
  }
}
.outskirts {
  position: relative;
  margin-bottom: 90px;
  padding-top: 100px;
}
@media only screen and (max-width: 500px) {
  .outskirts {
    padding-top: 50px;
    margin-bottom: 120px;
  }
}
@media only screen and (max-width: 338px) {
  .outskirts {
    padding-top: 48px;
    margin-bottom: 109px;
  }
}
.outskirts .outskirtsImg {
  padding-left: 84px;
  height: 231px;
  width: 91.8%;
}
@media only screen and (max-width: 500px) {
  .outskirts .outskirtsImg {
    padding-left: 10%;
    width: 90%;
  }
}
@media only screen and (max-width: 338px) {
  .outskirts .outskirtsImg {
    width: 100%;
    height: 200px;
    padding-left: 0px;
  }
}
.outskirts h4 {
  position: absolute;
  height: 97px;
  width: 30.8%;
  right: 60.8%;
  top: 275px;
  text-align: center;
  padding-top: 35px;
  background: #D8D8D8;
  font-size: 2.5rem;
  font-family: sans-serif;
  letter-spacing: 5.8px;
}
@media only screen and (max-width: 500px) {
  .outskirts h4 {
    height: 10.7vh;
    width: 76%;
    right: 12%;
    top: 260px;
    padding-top: 30px;
    font-size: 3.5rem;
  }
}
@media only screen and (max-width: 338px) {
  .outskirts h4 {
    height: 96px;
    width: 90%;
    right: 5%;
    top: 235px;
    padding-top: 36px;
    font-size: 2.5rem;
  }
}
.outskirtContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 106px;
  width: 50%;
  margin: 0 auto;
}
@media only screen and (max-width: 500px) {
  .outskirtContent {
    width: 90%;
  }
}
.outskirtContent #outskirtContent1 {
  width: 85%;
  font-size: 1.8rem;
  line-height: 1.34;
  margin-bottom: 13px;
}
@media only screen and (max-width: 338px) {
  .outskirtContent #outskirtContent1 {
    width: 100%;
  }
}
.outskirtContent #outskirtContent2 {
  width: 85%;
  font-size: 1.8rem;
  line-height: 1.34;
  margin-bottom: 13px;
}
@media only screen and (max-width: 338px) {
  .outskirtContent #outskirtContent2 {
    width: 100%;
  }
}
.blocks {
  position: relative;
  margin-bottom: 85px;
  padding-top: 89px;
}
@media only screen and (max-width: 338px) {
  .blocks {
    padding-top: 32px;
    margin-bottom: 107px;
  }
}
.blocks .blocksImg {
  padding-left: 84px;
  height: 230px;
  width: 91.8%;
}
@media only screen and (max-width: 500px) {
  .blocks .blocksImg {
    padding-left: 10%;
    width: 90%;
  }
}
@media only screen and (max-width: 338px) {
  .blocks .blocksImg {
    width: 100%;
    height: 200px;
    padding-left: 0px;
  }
}
.blocks h4 {
  position: absolute;
  height: 97px;
  width: 30.8%;
  left: 60.8%;
  top: 275px;
  text-align: center;
  padding-top: 36px;
  background: #D8D8D8;
  font-size: 2.5rem;
  font-family: sans-serif;
  letter-spacing: 5.5px;
}
@media only screen and (max-width: 500px) {
  .blocks h4 {
    height: 10.7vh;
    width: 76%;
    left: 12%;
    top: 260px;
    padding-top: 30px;
    font-size: 3.5rem;
  }
}
@media only screen and (max-width: 338px) {
  .blocks h4 {
    height: 97px;
    width: 90%;
    left: 5%;
    top: 220px;
    padding-top: 36px;
    font-size: 2.5rem;
  }
}
.blockContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
  padding-left: 24%;
  padding-right: 24%;
}
@media only screen and (max-width: 500px) {
  .blockContent {
    width: 100%;
    padding-left: 5.3%;
    padding-right: 5.3%;
    margin-bottom: 80px;
  }
}
.blockContent #blockContent1 {
  width: 85%;
  font-size: 1.8rem;
  line-height: 1.34;
  margin-bottom: 22px;
}
@media only screen and (max-width: 338px) {
  .blockContent #blockContent1 {
    width: 100%;
  }
}
.blockContent #blockContent2 {
  width: 85%;
  font-size: 1.8rem;
  line-height: 1.34;
}
@media only screen and (max-width: 338px) {
  .blockContent #blockContent2 {
    width: 100%;
  }
}
.container {
  font-family: Roboto, Arial, sans-serif;
}
.container .mainContainer {
  padding-top: 4px;
  padding-left: 8.3%;
  padding-right: 8.3%;
}
.container .mainContainer .services {
  height: 117px;
  width: 100%;
}
.container .header nav .menuContainer .h1-z-index-style {
  font-weight: Bold;
  font-size: 24px;
  Color: #FFFFFF;
  z-index: 2;
  padding-top: 15px;
}
.container .header nav .menuContainer .dropdown .dropdown-img-z-index-style {
  position: relative;
  z-index: 2;
  padding-top: 25px;
}
.container .header nav .menuContainer .dropdown .dropdown-content {
  width: 2000px;
  opacity: 0.98;
  z-index: 1;
  height: 1200px;
  left: 0px;
  bottom: 0px;
  position: fixed;
  background-color: #98a4af;
  display: flex;
  justify-content: center;
}
.container .header nav .menuContainer .dropdown .dropdown-content .linksContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  position: fixed;
  top: 90px;
  right: 44.5%;
}
.container .header nav .menuContainer .dropdown .dropdown-content .linksContainer .dropdown-link {
  width: 100%;
  font-size: 4.7rem;
  letter-spacing: 1.5px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}
.container .header nav .menuContainer .dropdown .dropdown-content .linksContainer .dropdown-link:hover {
  color: black;
}
.container .header nav .menuContainer .dropdown .dropdown-content .linksContainer #services {
  margin-top: 37px;
}
.container .header nav .menuContainer .dropdown .dropdown-content .linksContainer #contact {
  margin-top: 38px;
}
.container .header nav .menuContainer .dropdown .dropdown-hidden {
  display: none;
}
.container .mainContainer .section .tabs {
  width: 100%;
}
.container .mainContainer .section .tabs .tabs-links {
  display: flex;
  justify-content: space-between;
}
.container .mainContainer .section .tabs .tabs-links .tabs-link {
  border: solid 1px black;
  height: 49px;
  width: 186px;
  text-align: center;
  padding-top: 13px;
  font-size: 2rem;
  font-weight: bold;
}
.container .mainContainer .section .tabs .tabs-items {
  display: flex;
  width: 100%;
  height: 375px;
  margin-bottom: 93px;
}
.container .mainContainer .section .tabs .tabs-items .tabs-item {
  display: none;
  width: 100%;
}
.container .mainContainer .section .tabs .tabs-items .tabs-item .tab {
  margin-top: 53px;
  margin-bottom: 90px;
}
.container .mainContainer .section .tabs .tabs-items .tabs-item .tab h2 {
  font-size: 2.4rem;
  font-weight: bold;
}
.container .mainContainer .section .tabs .tabs-items .tabs-item .tab .contentContainer {
  display: flex;
  margin-top: 14px;
}
.container .mainContainer .section .tabs .tabs-items .tabs-item .tab .contentContainer .tabContent p {
  height: 130px;
  font-size: 1.65rem;
  line-height: 1.63;
}
.container .mainContainer .section .tabs .tabs-items .tabs-item .tab .contentContainer .tabContent .tabContent2 {
  margin-top: 26px;
}
.container .mainContainer .section .tabs .tabs-items .tabs-item .tab .tabImg {
  height: 275px;
}
.container .mainContainer .section .tabs .tabs-items .tabs-item-selected {
  display: block;
}
