.header {
  margin-bottom: 47px;
  nav {
    background: #98a4af;
    .menuContainer {
      display: flex;
      justify-content: space-between;
      height: 50px;
      border: solid 1px black;
      padding-left: 8%;
      padding-right: 8%;
      align-items: center;
      h1 {
        font-weight: Bold;
        font-size: 24px;
        Color: #FFFFFF;
      }
    }
    .links {
      display: none;
    }
  }
  .headerContent {
    position: relative;
    .mainHeader-img {
      height: 550px;
      width: 100%;
    }
    h2 {
      position: absolute;
      top: 275px;
      left: 80px;
      font-weight: Bold;
      font-size: 6.4rem;
      line-height: 75px;
      Color: #FFFFFF;
    }
  }
}