.container {
  font-family: Roboto, Arial, sans-serif;
  .mainContainer {
    padding-top: 4px;
    padding-left: 8.3%;
    padding-right: 8.3%;
    .services {
      height: 117px;
      width: 100%;
    }
    .tabs {
      display: flex;
      justify-content: space-between;
      p {
        border: solid 1px black;
        height: 49px;
        width: 186px;
        text-align: center;
        padding-top: 9px;
        font-size: 2rem;
        font-weight: bold;
      }
      .construction {
        color: white;
        background-color: cadetblue;
      }
    }
    .constructionTab {
      margin-top: 53px;
      margin-bottom: 90px;
      h2 {
        font-size: 2.4rem;
        font-weight: bold;
      }
      .contentContainer {
        display: flex;
        margin-top: 14px;
        .constructionContent {
          p {
            height: 130px;
            font-size: 1.65rem;
            line-height: 1.63;
          }
          #constructionContent2 {
            margin-top: 26px;
          }
        }
      }
    }
  }
}